.headerBlutop {
  background-color: #0282f9;
  height: 20px;
}

.headerBlutop div {
  width: 80%;
  margin: 0 auto;
  text-align: right;
}

.headerBlutop div span {
  margin: 0 10px;
  color: white;
}

nav {
  padding-top: 10px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

nav img {
  margin-right: 100px;
  padding-bottom: 10px;
}

nav a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover{
    border-bottom:4px solid #0282F9 ;
    padding-bottom: 44px;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

nav input {
  border: none;
  margin-left: 20px;
  border-bottom: 2px solid #0282f9;
}

nav input:active {
  border: none;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


ul li {
  list-style: none;
}

.jumbotron{
    height: 420px;
    background-image: url('../images/jumbotron.jpg');
}
.container{
    width: 80%;
    padding: 50px;
    margin: auto;
}

.cardcont{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.darkbg{
    background-color: #1c1c1c;
    position: relative;
}
.series{
    padding: 10px;
    color: white;
    background-color: #0282F9;
    display: inline-block;
    position: absolute;
    left: 15%;
    top: -15px;
}

.description{
    color: white;

}

.box{
    width: 200px;
    height: 200px;
    margin-right: 23px;
    margin-bottom: 50px;
}

.box img{
        width: 100%;
        height: 100%;
}

.load{
    display: flex;
    justify-content: center;
}

.load .loadmore{
        padding: 5px 33px;
        color: white;
        display: inline-block;
        background-color: #0282F9;
        margin-bottom: 25px;
        
}

.cardnav{
    background-color: #0282F9;
    width: 100%;
    padding: 30px;
}

.cardnav ul{
    display: flex;
    width: 80%;
    margin: auto;
}

.cardnav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}

.cardnav ul li img{
    margin-right: 10px;
    width: 60px;
}

.uppercase{
    text-transform: uppercase;
}


li{
    list-style: none;
    text-align: left;
    font-size: 0.8em;
    color: #959595;
    text-transform: capitalize;
    margin: 5px 5px;
}
h4{
    margin: 20px 0;
    color: white;
    text-transform: uppercase;
}

.colonna{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 40px;
}

.containerbt{
    display: flex;
    padding: 10px 0;
    width: 80%;
}

.bgFooter{
    background-image: url('../images/footer-bg.jpg');
    height: 400px;
    display: flex;
    align-items: center;    
    width: 100%;
    padding: 0 250px;
}

.imgFooter{
    background-image: url('../images/dc-logo-bg.png');
    height: 100%;
    width: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footerbot {
    background-color: #303030;
  }
  .footerbot .container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footerbot a {
    padding: 10px;
    border: 2px solid #0282F9;
    text-decoration: none;
    color: white;
  }
  .footerbot h4 {
    color: #0282F9;
  }
  .footerbot .social {
    display: flex;
    align-items: center;
  }
  .footerbot .social div {
    margin: 0 10px;
}

.blu{
    height: 100px;
    background-color: #0282f9;
}

.comic-thumb {
    position: absolute;
    left: 10%;
    top: 46%;
    border: 2px solid white;
}
.comic-thumb .blu-comic-thumb {
    background-color: #00A9D9;
    color: white;
    font-weight: 600;
    text-align: center;
}

.imgadv{
    height: 200px;
    width: 200px;
}
  
.one-comic{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
    padding: 100px 0;
}
.green{
    display: flex;
    background-color: #55BA59;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

.green h4{
    padding-right: 25px;
}

.available{
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    padding-right: 25px;
    margin-right: 25px;
    color: lightgreen;
}
.d-flex{
    display: flex;
}
.comic-description{
    margin-right: 50px;
}
.comic-txt{
    padding: 30px 0;
}

.bottom-cont{
    background-color: white;
}

.bottom-cont .w-60{
    padding: 30px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.lists{
    display: flex;
    justify-content: space-around;
}

.lists li{
    display: inline-block;
}

.lists li a{
    text-decoration: none;
    color: #00a9d9;
}

.w-50{
    width: 50%;
    margin: 0 50px;
}
.padding-bottom{
    padding-bottom: 20px;
}
.border-bottom{
    border-bottom: 1px solid lightgrey;
    padding: 5px 0; 
}
.padding-y{
    padding: 5px 0;
}
.about-dc{
    display: flex;
    justify-content: center;
}